<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Category/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Product/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">İlanlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>